
.container{
    background: rgb(226, 226, 226);
    font-family: 'Noto Sans', sans-serif;
    padding: 0px 45px 10px 45px;
    margin: 5px 45px 10px 45px;
    border-radius: 5px;
    border: 1px solid rgb(206, 204, 204);
}

#st1{
    font-size: 45px;
    font-style: normal;    
    color: rgb(61, 61, 61);
}

#st2{
    font-size: 26px;
    color: rgb(61, 61, 61);
}
#st3{
    font-size: 20px;
    color: rgb(49, 49, 49);
    
}
.div1{
    text-align: center;
}

.div2{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
    position: relative;
    word-spacing: inherit;
}

.div3{
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
    margin-top: 22px;
    padding-left: 5px;
    font-size: 16px;
}

#pic{
    width: 35%;
    margin-left: 380px;
    margin-top: 4px;
    border-radius: 60%;
}

#st4{
    border: 0px solid rgb(206, 204, 204);
    background-color:rgb(206, 206, 206);
    padding: 15px 0px 15px 1px;
    margin-left: 1px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
}

#st5{
    font-size: 22px;
}

footer{
    text-align: center;
    font-style: italic;
}

#st6{
    color: rgb(49, 49, 49);
    font-size:14px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: darkgray;
    text-decoration: underline;
    float: left;
    font-weight: bolder;
}